@font-face {
    font-family: 'Crimson Text';
    src: url('../assets/fonts/CrimsonText-Regular.ttf');
}

@font-face {
    font-family: 'Lora';
    src: url('../assets/fonts/Lora-VariableFont_wght.ttf');
}

$font-size-300: 0.75rem;
/* 12px */
$font-size-400: 1rem;
/* 16px, base */
$font-size-500: 1.25rem;
/* 20px */
$font-size-600: 1.5rem;
/* 24px */
$font-size-700: 1.75rem;
/* 28px */
$font-size-800: 2rem;
/* 32px */
$font-size-900: 2.25rem;
/* 36px */

$crimson: 'Crimson Text',
serif;
$lora: 'Lora',
serif;