@use './font';
@use './colors';
@use './headings';
@use './view';

*,
html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: font.$font-size-400;
  font-family: font.$lora;
}

p {
  font-size: font.$font-size-500;
}

a {
  text-decoration: none;
  font-size: font.$font-size-500;
}

a:hover {
  cursor: pointer;
}

a,
a:visited {
  color: colors.$primary;
}

.divider {
  height: 1px;
  clear: both;
  background-color: colors.$sky-light;
  margin: 3rem 0;
}

select {
  font-family: font.$lora;
  font-size: font.$font-size-400;
  padding: 0.5rem 1rem;
  border: solid 1px colors.$primary;
  border-radius: 5px;
}