@use './font';
@use './colors';
@use './headings';
@use './view';
@use './dimensions.scss';
@use './aboutus.scss';

*,
html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: font.$font-size-400;
  font-family: font.$lora;
}

// paragraphs
p {
  font-size: font.$font-size-500;
}

// anchors
a {
  text-decoration: none;
  font-size: font.$font-size-500;
}

a:hover {
  cursor: pointer;
}

a,
a:visited {
  color: colors.$primary;
}

// form inputs
select {
  font-family: font.$lora;
  font-size: font.$font-size-400;
  padding: 0.5rem 1rem;
  border: solid 1px colors.$primary;
  border-radius: 5px;
}

// lists
ul,
ol {
  list-style-position: inside;
}

// images
img {
  object-fit: cover;
  border-radius: 5px;
}

// custom classes
.divider {
  height: 1px;
  clear: both;
  background-color: colors.$sky-light;
  margin: 3rem 0;

  @media only screen and (max-width: dimensions.$mobile-width) {
    margin: 1rem 0;
  }
}

.flex-center-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-width-image {
  width: 100%;
}

.half-width-image-container {
  text-align: center;
}

.half-width-image {
  width: 50%;
}