@use './font';
@use './headings';
@use './colors';

*,
html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: font.$font-size-400;
  font-family: font.$lora;
}

p {
  font-size: font.$font-size-500;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.divider {
  height: 1px;
  clear: both;
  background-color: colors.$sky-light;
  margin: 3rem 0;
}