@use './font';
@use './colors';

#view-container {
    padding-bottom: 1rem;
    margin: 1rem 6rem;

    h1 {
        text-align: center;
        color: colors.$primary-dark;
        margin-bottom: 1rem;
    }

    img {
        border-radius: 5px;
        object-fit: cover;
    }

    #view-intro {
        margin-top: 2rem;
        padding: 0 4rem;
    }

    .icon-row {
        margin: 2rem 0;
        display: grid;
        grid-template-columns: 15% 1fr;
        align-items: center;

        .icon {
            justify-self: center;
        }

        p {
            font-size: font.$font-size-500;
            margin-bottom: 0.5rem;
        }
    }

    .quote {
        background-color: white;
        padding: 3rem;
        border-radius: 15px;
        color: colors.$primary;

        .quote-subtext {
            display: block;
            text-align: right;
        }
    }

    .margin-section {
        margin: 2rem 0;
    }
}