@use './font';
@use './colors';
@use './dimensions.scss';

#view-container {
    padding-bottom: 1rem;
    margin: 1rem 6rem;

    @media only screen and (max-width: dimensions.$mobile-width) {
        margin: 1rem;
    }

    h1 {
        text-align: center;
        color: colors.$primary-dark;
        margin-bottom: 1rem;

        @media only screen and (max-width: dimensions.$mobile-width) {
            font-size: font.$font-size-700;
        }
    }

    img {
        border-radius: 5px;
        object-fit: cover;
    }

    #view-intro {
        margin-top: 2rem;
        padding: 0 4rem;

        @media only screen and (max-width: dimensions.$mobile-width) {
            padding: 0;
        }
    }

    .icon-row {
        margin: 2rem 0;
        display: grid;
        grid-template-columns: 15% 1fr;
        align-items: center;

        @media only screen and (max-width: dimensions.$mobile-width) {
            margin: 1rem 0;
        }

        .icon {
            justify-self: center;
        }

        p {
            font-size: font.$font-size-500;
            margin-bottom: 0.5rem;

            @media only screen and (max-width: dimensions.$mobile-width) {
                margin-left: 1rem;
            }
        }
    }

    .quote {
        background-color: white;
        padding: 3rem;
        border-radius: 15px;
        color: colors.$primary;

        .quote-subtext {
            display: block;
            text-align: right;
        }
    }

    .margin-section {
        margin: 2rem 0;
    }

    .section-icon-row {
        display: grid;
        grid-template-columns: 15% 1fr;
        align-items: center;
        margin-bottom: 0.5rem;

        .icon {
            justify-self: center;
        }
    }
}